label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 1.4em;
    font-size: 1em;
    padding-left: .4em;
    float: left;
    margin-top: 3px;
    margin-left: 20px;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;    
    margin-top:50px;
    margin-left: 16px;
  }
  button:last-of-type{
    margin-left: 180px;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .content{
    height: 250px;
    width: 350px;
    border: 1px solid #607D8B;
    padding-left: 20px;
    margin-top: 10px;
  }
  .name-text{
    float: left;
  }
  .clear{
    clear: both;
  }
  h2{
    margin-bottom: 40px;
  }